.Navbar{
    width: 100%;
    padding: var(--padding-main);
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: space-between;
}
.dehaze{
    display: none;
}
.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo_image{
    width: 5.5rem;
    border-radius: 50%;
    object-fit: cover;
}
.krypto{
    font-size: var(--header-h1);
    letter-spacing: var(--letter-spacing);
}
.center_information{
    cursor: pointer;
}
.center_information > ul{
    display: flex;
    align-items: center; 
    gap: 10rem;
}
.center_information > ul > li{
    font-size: var(--page-list-font);
    letter-spacing: var(--letter-spacing);

}
.center_information > ul > li:hover{
    color: #d6d0d0;
}
.select_language{
    display: flex;
    align-items: center; 
    gap: 1rem;
    font-size: 1.8rem;
    letter-spacing: var(--letter-spacing);
}
.select_language:hover{
     color: #f5f5f5;
}
.languages_container{
    width: 7%;
    position: absolute;
    border: 0;
    padding: 1rem 1rem;
    background-color: white;
    box-shadow: 2px 4px 9px -3px rgba(5,1,1,0.76);
-webkit-box-shadow: 2px 4px 9px -3px rgba(5,1,1,0.76);
-moz-box-shadow: 2px 4px 9px -3px rgba(5,1,1,0.76);
    border-radius: 8px;
    top: 7rem;
    left: 57.5%;
    z-index: 999999999;
}
.languages_container>ul{
    display: flex;
    align-items: center; 
    gap: 2rem;
    flex-direction: column;
    font-size: 1.8rem;
    letter-spacing: var(--letter-spacing);
}
.languages_container>ul>li:hover{
    color: #f5f5f5;

}
.buttons{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.button_login{
    width: var( --button-width);
    height: var(--button-height);
    font-size: var(--page-list-font);
    letter-spacing: var(--letter-spacing);
    text-align: center;
    border-radius: var(--button-radius);
    cursor: pointer;
    background-color: #f5f5f5;
    border: 0;

}
.button_signup{
    width: var( --button-width);
    border: 0;
    height: var(--button-height);
    font-size: var(--page-list-font);
    letter-spacing: var(--letter-spacing);
    text-align: center;
    border-radius: var(--button-radius);
    cursor: pointer;
    background-color: #7387ff;
    color: white;
}
.button_signup:hover{
    background-color: #97a3e4;
}
@media screen and (max-width: 642px) {
    .Navbar{
        padding: var(--mobile-padding-main);
    }
    .dehaze{
        position: absolute;
        display: block;
        right: 0.7rem;
        top: 0.7rem;
        color: darkgray;
        font-size: 1.7rem !important;
    }
    
    .logo{
        gap: 0.2rem;
    }
    .logo_image{
        width: 2rem;
    }
    .krypto{
        font-size: 1rem;
    }
    .button_signup{
        width: var(--mobile-button-width);
        height: var(--mobile-button-height);
        font-size: var( --mobile-page-list-font);
        letter-spacing: var(--mobile-letter-spacing);
        }
    .button_login{
         width: var(--mobile-button-width);
        height: var(--mobile-button-height);
        font-size: var( --mobile-page-list-font);
        letter-spacing: var(--mobile-letter-spacing);
    }
    .center_information{
        display: none;
    }
    .buttons{
        display: none;
    }
}
@media screen and (max-width: 245px) {
    .logo_image{
        display: none;
    }
    .dehaze{
        top: 0.3rem;
    }
}