.StartTracking{
    width: 100%;
    background: #fdf9f9;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.pc_naviagation{
    padding: var(--mobile-padding-main);
}
.pc_naviagation_asset_name{
    padding: var(--mobile-padding-main);
}
.starttracking_container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.StartTracking{
    width: 100%;
}
.mobile_naviagation{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
