.HomeMaret_navbar{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15rem;
    justify-content: space-between !important;
}
.HomeMarket_logo{
    display: flex;
    align-items: center;
    gap: 1.8rem;
}
.HomeMarket_logo > h1{
    font-size: var(--header-h1);
    letter-spacing: var(--letter-spacing);
}
.HomeMarket_image{
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
    border-radius: 50%;
}
.HomeMarket_container_lists{
    width: 100%;
    position: relative;
}
.HomeMarket_container_lists > ul{
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 7rem;
    margin-right: 25rem;


}
.market{
    font-size: var(--header-h3);
    color: var(--color);
}
.isActivez{
    background-color: rgba(10, 10, 10,0.08);
    border-radius: 10px;
    padding: 1rem 3rem;
    font-size: var(--header-h3);
}
/* .HomeMarket_container_lists > ul > li:hover{
    color: #b2bcf5;
} */

@media screen and (max-width: 642px) {
    .HomeMarket_logo{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.9rem;
    }
    .HomeMarket_logo > h1{
        font-size: var(--mobile-font-header1);
        letter-spacing: normal;
    }
    .HomeMarket_image{
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        border-radius: 50%;
    }
    .HomeMarket_container_lists{
        display: none;
    }
}
@media screen and (max-width: 1007px) and (min-width: 642px) {
    .HomeMarket_logo{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.9rem;
    }
    .HomeMarket_logo > h1{
        font-size: var(--mobile-font-header1);
        letter-spacing: normal;
    }
    .HomeMarket_image{
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        border-radius: 50%;
    }
    .HomeMarket_container_lists{
        display: none;
    }
}
@media screen and  (min-width: 1009px) and (max-width: 2400px){
    .HomeMarket_logo{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.9rem;
    }
    .HomeMarket_logo > h1{
        font-size: var(--mobile-font-header1);
        letter-spacing: normal;
    }
    .HomeMarket_image{
        width: 2.3rem;
        height: 2.3rem;
    }
    .HomeMarket_container_lists > ul{
        width: 100%;
        margin-right: 0rem;
        gap: 5rem;
    }
    .market{
        font-size: 1rem;
    }
    .isActivez{
        font-size: 1rem;
    }
}
