a{
    text-decoration: none;
}
.MarketSliderNews{
    width: 100%;
    padding: var( --padding-main);
    text-align: center;
    background-color: #fdfdfd;
}
.MarketSliderNews_container{
    width: 100%;
    text-align: center;

}
.slider{
   width: 100% !important;
   height: 75vh !important;
   position: relative;
    text-align: center;
}
.slider_container{
    width: 90%;
    height: 100%;
    position: absolute;
    left: 5%;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    text-align: center;

}
.news_description{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
    position: absolute;
    bottom: 3%;
    left: 0%;
    padding: var(--padding-main);

}
.news_description > u{
    font-size: var(--header-h2);
    color: #fff;
    text-underline-offset: 15px !important;
    text-decoration: underline #8d8585 !important;
    text-transform: uppercase;
}
.news_description > a > p{
    width: 80%;
    font-size: var( --page-list-font);
    line-height: normal;
    color: #FFFFFF;
    background: transparent;
    padding: 2px 1px;
    box-shadow: 2px 4px 9px -3px rgba(5,1,1,0.56);
    -webkit-box-shadow: 2px 4px 9px -3px rgba(5,1,1,0.56);
    -moz-box-shadow: 2px 4px 9px -3px rgba(5,1,1,0.56);
}
.slider_container > img {
    object-fit: cover;
    height: 100%;
    height: 100%;
    padding: 3px;
    border-radius: 15px !important;
    box-shadow: 2px 4px 9px -3px rgba(5,1,1,0.56);
    -webkit-box-shadow: 2px 4px 9px -3px rgba(5,1,1,0.56);
    -moz-box-shadow: 2px 4px 9px -3px rgba(5,1,1,0.56);
}
@media screen and (max-width: 642px) {
    .slider{
        height: 26vh !important;
    }
    .MarketSliderNews{
        padding: 0;
        border-radius: 15px;
    }
    .slider_container{
        width: 100%;
        left: 0;
    }
    .news_description{
        padding: 3px;
        bottom: 1%;
    }
    .news_description > u{
        font-size: 0.85rem;
        text-underline-offset: 5px !important;
        padding: 2px 5px;
        text-transform: uppercase;
    }
    .news_description > a > p{
        width: 50%;
        font-size: 0.8rem;
        line-height: normal;
        padding: 2px 5px;
        box-shadow: 0;
        display: none;
        -webkit-box-shadow: 0;
        -moz-box-shadow: 0;
    }
    .swiper-button-prev{
        display: none !important;
    }
    .swiper-button-next{
        display: none !important;
    }
    .slider_container > img{
        padding: 1px;
        box-shadow: 0;
        -webkit-box-shadow: 0;
        -moz-box-shadow: 0;
        border-radius: 1px 1px 0px 0px !important;
    }
}
@media screen and (max-width: 1007px) and (min-width: 642px) {
    .slider{
        height: 28vh !important;
    }
    .MarketSliderNews{
        padding: 0;
        border-radius: 15px;
    }
    .slider_container{
        width: 100%;
        left: 0;
    }
    .news_description{
        padding: 3px;
        bottom: 1%;
    }
    .news_description > u{
        font-size: 0.85rem;
        text-underline-offset: 5px !important;
        padding: 2px 5px;
        text-transform: uppercase;
    }
    .news_description > a > p{
        width:50%;
        font-size: 0.8rem;
        line-height: normal;
        padding: 2px 5px;
        box-shadow: 0;
        -webkit-box-shadow: 0;
        -moz-box-shadow: 0;
    }
    .swiper-button-prev{
        display: none !important;
    }
    .swiper-button-next{
        display: none !important;
    }
    .slider_container > img{
        padding: 1px;
        box-shadow: 0;
        -webkit-box-shadow: 0;
        -moz-box-shadow: 0;
        border-radius: 5px 5px 0px 0px !important;
    }
}

@media screen and  (min-width: 1009px) and (max-width: 2400px){
    .slider{
        height: 40vh !important;
    }
    .MarketSliderNews{
        padding: 0;
        border-radius: 15px;
    }
    .slider_container{
        width: 100%;
        left: 0;
    }
    .news_description{
        padding: 3px;
        bottom: 1%;
    }
    .news_description > u{
        font-size: 0.85rem;
        text-underline-offset: 5px !important;
        padding: 2px 5px;
        text-transform: uppercase;
    }
    .news_description > a > p{
        width:50%;
        font-size: 0.8rem;
        line-height: normal;
        padding: 2px 5px;
        box-shadow: 0;
        -webkit-box-shadow: 0;
        -moz-box-shadow: 0;
    }
}