.HomeMarketCoins{
    width: 100%;
    overflow-y: scroll;
    padding: var(--padding-main);
}
.HomeMarketCoins_table{
    width: 100%;
}
.table_head{
    width: 100%;
    position: relative;
}
.table_row{
    width: 100% !important;
}
.table_cell_asset{
    font-size: var(--header-h3) !important;
    padding: 2rem 2rem !important;
    border-bottom:  0px !important;
    text-align: start !important;
}
.table_cell_Price{
    font-size: var(--header-h3) !important;
    padding: 2rem 2rem !important;
    border-bottom:  0px !important;
}
.table_cell_perfomance{
    font-size: var(--header-h3) !important;
    padding: 2rem 2rem !important;
    border-bottom:  0px !important;
}
.table_cell_percentage{
    font-size: var(--header-h3) !important;
    padding: 2rem 2rem !important;
    border-bottom:  0px !important;
}
.table_cell_track{
    font-size: var(--header-h3) !important;
    padding: 2rem 2rem !important;
    border-bottom:  0px !important;
}
.table_cell_chart{
    font-size: var(--header-h3) !important;
    padding: 2rem 2rem !important;
    border-bottom:  0px !important;
}
.table_cell_current_price{
    font-size: var(--header-h3) !important;
    padding: 2rem 2rem !important;
    border-bottom:  0px !important;
}
.not_search_found{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: var(  --page-list-font);
    letter-spacing: normal;
    color: #B00020;
    margin-left: 60%;
    margin-top: 2rem;
  
}
.not_found_icon{
    font-size: var(  --page-list-font) !important;
    color: #B00020 !important;
}
.market_loading{
   position: absolute;
   left: 50%;
   top: 58%;
}

.to_add_favorite{
    width: 70%;
    padding: 2.5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.5rem;
}
.coin_name{
    width: 100%;
    display: flex;
    align-items: center;

}
.coin_name > img{
    width: 4.5rem !important;
    height: 4.5rem !important;
    text-align: center;
    object-fit: cover;
    border-radius: 50%;
}
.coin_name_and_symbol{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.coin_name_and_symbols{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coin_names{
    font-size: var(--header-h3);
    font-weight: bold;
}
.coin_symbols{
    font-size: var(--header-h3);
    font-weight: 450;
}
.star{
    font-size: 3.3rem !important;
    color: #5b5b5b !important;
    cursor: pointer;
}
.star:hover{
    color: #ffad32 !important;
}
.homemarket_button > button{
    width: 12rem;
    border: 0;
    height: 4rem;
    font-size: 1.7rem;
    letter-spacing: normal;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: #7387ff;
    color: white;
}
.homemarket_button > button:hover{
    background-color: #97a3e4;
}
@media screen and (max-width: 642px) {
    .HomeMarketCoins{
        width: 87%;
        padding: 0px 0.3rem;
    }
    .table_head{
        width: 100% !important;
    }
    .table_row{
        width: 100% !important;
        margin-left: 0rem !important;
    }
    .body_row{
        width: 100% !important;
    }
    .star{
        display: none !important;
    }
    .table_body{
        width: 100% !important;
    }
    .table_cell_asset{
        font-size: var( --mobile-font-header2) !important;
        padding: 0.3rem 0.3rem !important;
    }
    .table_cell_Price{
        font-size: var( --mobile-font-header2) !important;
        padding: 0.3rem 0.3rem !important;
    }
    .table_cell_perfomance{
        display: none !important;
        font-size: var( --mobile-font-header2) !important;
        padding: 0.3rem 0.3rem !important;
    }
    .table_cell_percentage{
        font-size: var( --mobile-font-header2) !important;
        padding: 0.3rem 0.3rem !important;
        display: none !important;
    }
    .table_cell_track{
        font-size: var( --mobile-font-header2) !important;
        padding: 0.3rem 0.3rem !important;
        display: none !important;
    }
    .table_cell_chart{
        font-size: var( --mobile-font-header2) !important;
        padding: 0.3rem 0.3rem !important;
        display: none !important;
    }
    .table_cell_current_price{
        font-size: var( --mobile-font-header2) !important;
        padding: 0.3rem 0.3rem !important;
    }
    .to_add_favorite{
        width: 100%;
        padding: 1rem 0rem;
        gap: 0rem;
    }
    .coin_name > img{
        width: 2.1rem !important;
        height: 2.1rem !important;
       
    }
    .coin_name_and_symbol{
        margin-left: 1.2rem;
    }
    .coin_names{
        font-size: var( --mobile-font-header2);
    }
    .coin_symbols{
        font-size: var( --mobile-font-header2);
    }
   
    .homemarket_button > button{
        width: 7rem;
        height: 2.9rem;
        font-size: 0.95rem;
        border-radius: 6px;
    }
    .not_search_found{
        width: 100%;
        margin-left: 13%;
        gap: 0;
        font-size: var(--mobile-font);
    }
    .not_found_icon{
        font-size: var( --mobile-font-header1) !important;
        display: none !important;
    }
    .market_loading{
        top: 43%;
        left: 37%;
    }
}
@media screen and (max-width: 242px) {
    .coin_name > img{
        display: none;
    }
    .to_add_favorite{
        width: 50%;
    }
    .table_cell_Price{
        font-size: 0.8rem !important;
        padding: 0.3rem 0.1rem !important;
    }
    .table_cell_perfomance{
        display: none !important;
        font-size: 0.8rem !important;
        padding: 0.3rem 0.3rem !important;
    }
    .table_cell_percentage{
        font-size: 0.8rem !important;
        padding: 0.3rem 0.3rem !important;
        display: none !important;
    }
    .table_cell_track{
        font-size: 0.8rem !important;
        padding: 0.3rem 0.3rem !important;
        display: none !important;
    }
    .table_cell_chart{
        font-size: 0.8rem !important;
        padding: 0.3rem 0.3rem !important;
        display: none !important;
    }
    .table_cell_current_price{
        font-size: 0.8rem !important;
        padding: 0.3rem 0rem !important;
    }
    .table_cell_coin_name_to_add_favorite{
        width: 100%;
        padding: 1rem 0rem;
        gap: 0rem;
    }
}
@media screen and (max-width: 281px) {
    .coin_name > img{
        width: 1.15rem !important;
        height: 1.15rem !important;
    }
    .coin_name_and_symbol{
        width: 100%;
    }
    .coin_names{
        width:57%;
        text-align: start;
        
    }
}
