.HomeMarketCoins{
    width: 100% !important;
    height: 100vh !important;
    contain: paint;

}
.HomeMarketCoins_table{
    width: 100% !important;
}

.table_cell_asset{
    font-size: var(--header-h3) !important;
    border-bottom:  0px !important;
    text-align: start !important;
    padding: 3px !important;
}
.table_cell_Price{
    padding: 3px !important;
    font-size: var(--header-h3) !important;
    border-bottom:  0px !important;
}
.table_cell_perfomance{
    padding: 3px !important;
    font-size: var(--header-h3) !important;
    border-bottom:  0px !important;
}
.table_cell_percentage{
    padding: 3px !important;
    font-size: var(--header-h3) !important;
    border-bottom:  0px !important;
}
.table_cell_track{
    padding: 3px !important;
    font-size: var(--header-h3) !important;
    border-bottom:  0px !important;
}
.table_cell_chart{
    padding: 3px !important;
    font-size: var(--header-h3) !important;
    border-bottom:  0px !important;
}
.table_cell_current_price{
    padding: 3px !important;
    font-size: var(--header-h3) !important;
    border-bottom:  0px !important;
    font-weight: 490 !important;
    color: black !important;
}
.not_search_found{
    padding: 3px !important;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: var(  --page-list-font);
    letter-spacing: normal;
    color: #B00020;
    margin-left: 60%;
    margin-top: 2rem;
  
}
.internet_connection_error{
    padding: 3px !important;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: var(  --page-list-font);
    letter-spacing: normal;
    color: #da5971;
    margin-left: 90%;
    margin-top: 4rem;
}
.not_found_icon{
    font-size: var(  --page-list-font) !important;
    color: #B00020 !important;
}
.market_loading{
   position: absolute;
   left: 50%;
   top: 25%;
}

.to_add_favorite{
    width: 40%;
    padding: 1.5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4.5rem;
}
.coin_name{
    width: 40%;
    display: flex;
    align-items: center;

}
.coin_name_and_symbol{
    width: 50%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.15rem;

}
.coin_name_and_symbols{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coin_names{
    font-size: var(--header-h3);
    font-weight: bold;
    text-transform: uppercase;
}
.coin_symbols{
    font-size: 1.5rem;
    font-weight: 450;
    color: gray;
}
.star{
    font-size: 3.3rem !important;
    color: #5b5b5b !important;
    cursor: pointer;
}
.star:hover{
    color: #ffad32 !important;
}
.homemarket_button > button{
    width: 12rem;
    border: 0;
    height: 4rem;
    font-size: 1.7rem;
    letter-spacing: normal;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: #7387ff;
    color: white;
}
.homemarket_button > button:hover{
    background-color: #97a3e4;
}

@media screen and (max-width: 642px) {
    .table_cell_asset{
        font-size: 0.95rem !important;
    }
    .table_cell_Price{
        font-size: 0.95rem !important;
        padding: 1rem !important;
    }
    .table_cell_current_price{
        font-size: 0.95rem !important;
        padding: 1rem !important;
    }
    .table_cell_percentage_button{
        width: 4rem;
        height: 2rem;
        font-size: 0.88rem;
        color: #2da966;
        border: 0;
        outline: 0;
        background-color: #cbf1de;
        border-radius: 5px;
    }
    .table_cell_percentage_button_red{
        width: 4rem;
        height: 2rem;
        font-size: 0.88rem;
        color: #ff4f4f;
        border: 0;
        outline: 0;
        background-color: #eecfcf;
        border-radius: 5px;
        
    }
    .table_cell_percentage{
        font-size: 0.95rem !important;
        padding: 1rem !important;
    }
    .to_add_favorite{
        padding: 0;
        gap: 0rem;
    }
    .coin_name{
        width: 50%;
    }
    .coin_name_and_symbol{
        margin-left: 0.8rem;
    }
    .coin_names{
        font-size: var( --mobile-font-header2);
        font-weight: bold;
    }
    .coin_symbols{
        font-size: 0.78rem;
        font-weight: 400;
    }
    .star{
        font-size: 1.8rem !important;
    }
    .table_cell_perfomance{
        display: none !important;
    }
    .table_cell_track{
        display: none !important;
    }
    .table_cell_chart{
       display: none !important;
    }
    .not_search_found{
        margin-left: 13%;
    }
    .internet_connection_error{
        padding: 3px !important;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 0.95rem;
        letter-spacing: normal;
        color: #c56072;
        margin-left: 40%;
        margin-top: 2rem;
    }
    .not_found_icon{
        display: none !important;
    }
    .not_search_found > p{
        font-size: 0.95rem !important;
    }
    .market_loading{
        top: 22%;
        left: 40%;
    }
}
@media screen and (max-width: 242px) {
   
}
