.AllMyTracks{
    width: 100%;
    height: 100vh;
    background-color:  #fcfbfb;
    position: relative;
}
.allmytrack_container_nav{
    padding: var(--mobile-padding-main);
    margin: 0rem 0.6rem;
}
.allmytrack_container_slider{
    padding: var(--mobile-padding-main);
    margin: 2rem 2rem;
}
.allmytrack_container_tracks{
    width: 100%;
    padding: var(--mobile-padding-main);
    margin: 2rem 10rem;
}
.No_data{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 4rem;
    flex-direction: column;
    margin-top: 8rem;
}
.history_icon{
    font-size: 5rem !important;
    color: rgb(207, 204, 204);
}
.No_data > p{
    font-size: 5rem !important;
    color: rgb(185, 182, 182);
}
.allmytrack_container_footer{
    display: none;
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}
@media screen and (max-width: 642px) {
    .allmytrack_container_footer{
        display: block;
    }
    .allmytrack_container_slider{
        margin: 0px;
    }
    .allmytrack_container_tracks{
        margin: 0rem;
    }
    .No_data{
        gap: 2rem;
        margin-top: 4rem;
    }
    .history_icon{
        font-size: 2.9rem !important;
        color: rgb(207, 204, 204);
    }
    .No_data > p{
        font-size: 0.95rem !important;
        font-weight: 490;
        color: rgb(185, 182, 182);
    }  
}
@media screen and (max-width: 1007px) and (min-width: 642px) {
    .allmytrack_container_footer{
        display: block;
    }
    .allmytrack_container_slider{
        margin: 0px;
    }
    .allmytrack_container_tracks{
        margin: 0rem;
    }
    .No_data{
        gap: 2rem;
        margin-top: 4rem;
    }
    .history_icon{
        font-size: 2.9rem !important;
        color: rgb(207, 204, 204);
    }
    .No_data > p{
        font-size: 0.95rem !important;
        font-weight: 490;
        color: rgb(185, 182, 182);
    }
}
@media screen and  (min-width: 1009px) and (max-width: 2400px){
    .allmytrack_container_footer{
        display: none;
    }
    .allmytrack_container_slider{
        margin: 0px;
    }
    .allmytrack_container_tracks{
        margin: 0rem;
    }
    .No_data{
        gap: 2rem;
        margin-top: 6rem;
    }
    .history_icon{
        font-size: 2.9rem !important;
        color: rgb(207, 204, 204);
    }
    .No_data > p{
        font-size: 0.95rem !important;
        font-weight: 490;
        color: rgb(185, 182, 182);
    }
}