.Home{
    width: 100%;
    position: relative;
}
.hero_and_navbar{
    width: 100%;
    padding: 0;
    
}
.hero_home_section{
    width: 100%;
    height: 100vh;
    margin-bottom: 22rem;
}
.market_home_section{
    width: 100%;
    /* height: 100vh; */
    margin-bottom: 4rem;
}
.reason_home_section{
    width: 100%;
    height: 100vh;margin-top: 4rem;
}
.show_side_bar{
    width: 100%;
    position: absolute;
    right: 0;
    overflow: hidden;
    top: 0;
    z-index: 9999999999999999;
}
.footer_home_section{
    margin-top: 4rem;
}
@media screen and (max-width: 642px) {
    .hero_home_section{
        margin-bottom: 20px;
    }
    .reason_home_section{
        margin-top: 5px;
    }
    .footer_home_section{
        margin-top: 18rem;
    }
}
@media screen and (max-width: 242px) {
   .Home{
    overflow: scroll;
   }
   .footer_home_section{
    display: none;
   }
}
@media screen  and (min-width: 642px) and (max-width: 1007px){
    .hero_home_section{
        margin-bottom: 20px;
    }
    .reason_home_section{
        margin-top: 5px;
    }
    .footer_home_section{
        margin-top: 18rem;
    }
}
