.loading_coin_errors{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0,0.945);
    z-index: 999999999999999999;
}
.markets_body_row:hover{
        background-color: #faf8f8;
        width: 100%;
        transition: all 0.1s ease-in-out;
        padding: 0rem 0.3rem;
        cursor: pointer;
      }
.loading_coin_errors > h1{
    justify-content: center;
    text-align: center;
    margin: 5rem 2.5rem;
    color: #f54343;
    font-size: 0.95rem;

}
.MarketsCoins{
    width: 100% !important;
    height: 100vh !important;
    overflow: hidden !important;
    text-align: center !important;

}
.MarketsCoins > h1{
    margin: 2rem 0rem !important;
    font-size: var(--header-h3);
}
.MarketsCoins_table{
    width: 100% !important;
    overflow: hidden !important;

}

.markets_table_cell_asset{
    font-size: var(--header-h3) !important;
    border-bottom:  0px !important;
    text-align: start !important;
    padding: 3px !important;
}
.markets_table_cell_Price{
    padding: 3px !important;
    font-size: var(--header-h3) !important;
    border-bottom:  0px !important;
}
.markets_table_cell_perfomance{
    margin-left: 2rem !important;
    font-size: var(--header-h3) !important;
    border-bottom:  0px !important;
}
.markets_table_cell_percentage{
    padding: 3px !important;
    font-size: var(--header-h3) !important;
    border-bottom:  0px !important;
}
.markets_table_cell_track{
    padding: 3px !important;
    font-size: var(--header-h3) !important;
    border-bottom:  0px !important;
}
.markets_table_cell_chart{
    margin-left: 6rem !important;
    font-size: var(--header-h3) !important;
    border-bottom:  0px !important;
}
.markets_table_cell_current_price{
    padding: 3px !important;
    font-size: var(--header-h3) !important;
    border-bottom:  0px !important;
    font-weight: bold !important;
    color: black !important;
}
.internet_connection_error{
    padding: 3px !important;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: var(  --page-list-font);
    letter-spacing: normal;
    color: #cf5e73;
    margin-left: 90%;
    margin-top: 4rem;
}
.market_loading{
   position: absolute;
   left: 50% !important;
   top: 58% !important;
}

.markets_to_add_favorite{
    width: 40%;
    padding: 1.5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4.5rem;
}
.markets_coin_name{
    width: 40%;
    display: flex;
    align-items: center;

}
.markets_coin_name > img{
    width: 4.5rem !important;
    height: 4.5rem !important;
    text-align: center;
    object-fit: cover;
    border-radius: 50%;
}
.markets_coin_name_and_symbol{
    width: 50%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.15rem;

}
.markets_coin_name_and_symbols{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.markets_coin_names{
    font-size: var(--header-h3);
    font-weight: bold;
    text-transform: uppercase;
}
.markets_coin_symbols{
    font-size: 1.5rem;
    font-weight: 450;
    color: gray;
}
.star{
    font-size: 3.3rem !important;
    color: #ffad32 !important;
    cursor: pointer;
}
.star:hover{
    color: #ffad32 !important;
}
.Markets_button > button{
    width: 12rem;
    border: 0;
    height: 4rem;
    font-size: 1.7rem;
    letter-spacing: normal;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: #7387ff;
    color: white;
}
.Markets_button > button:hover{
    background-color: #97a3e4;
}

@media screen and (max-width: 642px) {
    .MarketsCoins > h1{
        margin: 2rem 0rem !important;
        font-size: var(--mobile-font-header1);
    }
    .markets_table_cell_asset{
        font-size: 0.95rem !important;
        padding-left: 2rem !important;
    }
    .markets_table_cell_Price{
        font-size: 0.95rem !important;
        padding: 0.3rem !important;
    }
    .markets_table_cell_current_price{
        font-size: 0.95rem !important;
        padding: 0rem !important;
    }
    .markets_to_add_favorite{
        padding: 0;
        gap: 1.5rem;
    }
    .markets_coin_name{
        width: 50%;
    }
    .markets_coin_name > img{
        width: 2rem !important;
        height: 2rem !important;
    }
    .markets_coin_name_and_symbol{
        margin-left: 0.8rem;
    }
    .markets_coin_names{
        font-size: var( --mobile-font-header2);
        font-weight: bold;
    }
    .markets_coin_symbols{
        font-size: 0.95rem;
        font-weight: 400;
    }
    .star{
        font-size: 1.8rem !important;
    }
    .markets_table_cell_perfomance{
        display: none !important;
    }
    .markets_table_cell_percentage{
        display: block !important;
        font-size: 0.88rem !important;
        margin-top: 0.15rem !important;
        margin-left: 1rem !important;
    }
    .markets_table_cell_trackble_cell_track{
        display: none !important;
    }
    .markets_table_cell_chart{
       display: none !important;
    }
    .internet_connection_error{
        padding: 3px !important;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 0.95rem;
        letter-spacing: normal;
        color: #d47485;
        margin-left: 40%;
        margin-top: 2rem;
    }
    .market_loading{
        top: 40% !important;
        left: 40% !important;
    }
    .markets_table_cell_track{
        display: none !important;
    }
}
@media screen and (max-width: 1007px) and (min-width: 642px) {
    .MarketsCoins > h1{
        margin: 2rem 0rem !important;
        font-size: var(--mobile-font-header1);
    }
    .markets_table_cell_asset{
        font-size: 0.95rem !important;
        padding-left: 2rem !important;
    }
    .markets_table_cell_Price{
        font-size: 0.95rem !important;
        padding: 0.3rem !important;
    }
    .markets_table_cell_current_price{
        font-size: 0.95rem !important;
        padding: 0.3rem !important;
    }
    .markets_to_add_favorite{
        padding: 0;
        gap: 1.5rem;
    }

    .markets_coin_name{
        width: 50%;
    }
    .markets_coin_name > img{
        width: 2rem !important;
        height: 2rem !important;
    }
    .markets_coin_name_and_symbol{
        margin-left: 0.8rem;
    }
    .markets_coin_names{
        font-size: var( --mobile-font-header2);
        font-weight: bold;
    }
    .markets_coin_symbols{
        font-size: 0.95rem;
        font-weight: 400;
    }
    .star{
        font-size: 1.3rem !important;
    }
    .markets_table_cell_perfomance{
        display: none !important;
    }
    .markets_table_cell_percentage{
        display: block !important;
        font-size: 0.88rem !important;
        margin-top: 0.15rem !important;
        margin-left: 1rem !important;
    }
    .markets_table_cell_track{
        display: none !important;
    }
    .table_cell_track{
        display: block !important;
        font-size: 0.95rem;
        font-weight: bold;
    }
    .markets_table_cell_chart{
       display: none !important;
    }
   .table_cell_percentage_button_red{
    height: 3.5rem !important;
    font-size: 0.95rem !important;
   }
   .table_cell_percentage_button{
    height: 3.5rem !important;
    font-size: 0.95rem !important;
   }
   .Markets_button > button{
    border-radius: 5px !important;
    height: 3.1rem !important;
    font-size: 0.9rem;
    width: 6.8rem !important;
    margin-top: 0.6rem ;
}
    .market_loading{
        top: 40% !important;
        left: 40% !important;
    }
}
@media screen and  (min-width: 1009px) and (max-width: 2400px){
    .MarketsCoins > h1{
        margin: 2rem 0rem !important;
        font-size: var(--mobile-font-header1);
    }
    .markets_table_cell_asset{
        font-size: 0.95rem !important;
        padding-left: 2rem !important;
    }
    .markets_table_cell_Price{
        font-size: 0.95rem !important;
        padding: 1rem !important;
    }
    .markets_table_cell_current_price{
        font-size: 0.95rem !important;
        padding: 1rem !important;
    }
    .markets_to_add_favorite{
        padding: 0;
        gap: 1.5rem;
    }

    .markets_coin_name{
        width: 50%;
    }
    .markets_coin_name > img{
        width: 2rem !important;
        height: 2rem !important;
    }
    .markets_coin_name_and_symbol{
        margin-left: 0.8rem;
    }
    .markets_coin_names{
        font-size: var( --mobile-font-header2);
        font-weight: bold;
    }
    .markets_coin_symbols{
        font-size: 0.95rem;
        font-weight: 400;
    }
    .star{
        font-size: 1.3rem !important;
    }
    .markets_table_cell_perfomance{
        display: block !important;
        font-size: 0.95rem !important;
    }
    .markets_table_cell_percentage{
        display: block !important;
        font-size: 0.88rem !important;
        margin-top: 0.15rem !important;
        margin-left: 1rem !important;
    }
    .markets_table_cell_track{
        display: none !important;
    }
    .table_cell_track{
        display: block !important;
        font-size: 0.95rem;
        font-weight: bold;
    }
    .markets_table_cell_chart{
       display: block !important;
    }
   .table_cell_percentage_button_red{
    height: 3.5rem !important;
    font-size: 0.95rem !important;
   }
   .table_cell_percentage_button{
    height: 3.5rem !important;
    font-size: 0.95rem !important;
   }
   .Markets_button > button{
    border-radius: 5px !important;
        height: 3.1rem !important;
        font-size: 0.9rem;
        width: 6.8rem !important;
        margin-top: 0.6rem ;
}
    .market_loading{
        top: 40% !important;
        left: 40% !important;
    }
}
