a{
    text-decoration: none !important;
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;
}
.loading_coin_animate{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0,0.955);
    z-index: 999999;

}
.loading_coin_error{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0,0.97);
    z-index: 99999999999999;
}
.loading_coin_error > h1{
    justify-content: center;
    text-align: center;
    margin: 5rem 2.5rem;
    color: #f54343;
    font-size: 0.95rem;

}
/* progress bar css */
.progress_bar{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.progress_description{
    font-size:2rem !important;
    color: #f3ac41;
}
.progress_select{
    width: 100%;
    border: 0;
    outline: 0;
    width: 100%;
    background-color: #f0eded;
    height: 5vh;
    padding: 10px 2rem;
    border-radius: 5px;
    font-size: var(  --header-h3);
    font-weight: bold;
    color: #5b5b5b;
    gap: 1.5rem;
    scroll-behavior: smooth;
}

.CompletePrice_names{
    width: 100%;
    padding: var(  --padding-main);
    background: #fcf8f8;
    height: 100vh;
    border: 0.3px solid rgba(218, 214, 214,0.2);
    box-shadow: 2px 4px 9px -3px rgba(5,1,1,0.3);
    -webkit-box-shadow: 2px 4px 9px -3px rgba(5,1,1,0.3);
    -moz-box-shadow: 2px 4px 9px -3px rgba(5,1,1,0.3);
}


.CompletePrice_name{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.CompletePrice_name_n_price{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(  --header-h3);
}
.CompletePrice_name_n_price_btcname{
    font-weight: bolder;
    color: #000000;
    font-size: 2.8rem;
    cursor: pointer;
}
.CompletePrice_name_n_price_btcleverage{
    font-weight: bold;
    color: #f5b555;
    background-color: #f7eee1;
    padding: 3px 17px;
    border-radius: 8px;
}
.CompletePrice_name_n_price_btc_change_red{
    color: #ff4f4f;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items:flex-start;

}
.CompletePrice_name_n_price_btc_change_green{
    color: #2da966;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.CompletePrice_name_n_price_btc_change_24h{
    font-weight: 400;
    font-size: 2rem;
}
.CompletePrice_name_n_price_btc_change_24h_display_none{
    display: none !important;
}
.CompletePrice_buy_n_sell{
    width: 100%;
    background-color: #ebeaea;
    height: 6.5vh;
    border-radius: 16px;
    
}
.CompletePrice_buy_n_sell > button{
    width: 50%;
    height: 100%;
    border: 0;
    outline: 0;
    font-weight: bold;
    cursor: pointer;
    font-size: var(  --header-h3);
    border-radius: 16px;
}
.long{
    background-color: #2da966;
    color: #ffffff;
}
.short{
    background-color: #ff4f4f;
    color: #ffffff;
}
.choose_limit_market{
    width: 100%;
    background-color: #f0eded;
    height: 5vh;
    padding: 10px 2rem;
    border-radius: 5px;
    font-size: var(  --header-h3);
    font-weight: bold;
    color: #5b5b5b;
    border: 0;
    outline: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    scroll-behavior: smooth;
    
}
.Limit, .Market{
    font-size: var(  --header-h3) !important;
}
.CompletePrice_input_limit_amount{
    width: 100%;
    height: 6.5vh;
    margin-top: 4rem;
    display: block;
}
.CompletePrice_input_limit_amount_hide{
    display: none;
}
.CompletePrice_input_limit_amount > input{
    width: 100%;
    height: 100%;
    font-size: var(  --header-h3) !important;
    padding-left: 2.7rem;
    border-radius: 8px;
    border: 0;
    outline: 0;
    background-color: #ebeaea;
    
}
.CompletePrice_input_amount{
    width: 100%;
    height: 6.5vh;
    margin-top: 2.5rem;
}
.CompletePrice_input_amount > input{
    width: 100%;
    height: 100%;
    font-size: var(  --header-h3) !important;
    padding-left: 2.5rem;
    border-radius: 8px;
    border: 0;
    outline: 0;
    background-color: #ebeaea;
    
}
.CompletePrice_button_long_short{
    margin-top: 5rem;
    width: 100%;
    height: 6.5rem;
    border-radius: 8px;
    font-size: var(  --header-h3);
}
.buy_long{
    background-color: #2da966;
    color: #ffffff;
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    border-radius: 8px;
    font-size: var(  --header-h3);
    font-weight: bolder;
    cursor: pointer;
    

}
.sell_short{
    background-color: #ff4f4f;
    color: #ffffff;
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    border-radius: 8px;
    font-size: var(  --header-h3);
    font-weight: bolder;
    cursor: pointer;
    
}

.track_order_footer{
    margin-top: 1.4rem;
    text-decoration: underline;
    color: #fad59d;
    cursor: pointer;
}
.track_order_footer > p{
    font-size: 2rem;
}
@media screen and (max-width: 642px) {
    .CompletePrice_names{
        padding: 1rem 0.8rem;
    }
    .CompletePrice_name{
        gap: 1.2rem;
    }
    .CompletePrice_name_n_price{
        font-size: var(--mobile-page-list-font);
    }
    .CompletePrice_name_n_price_btcname{
        font-size: 1.02rem;
    }
    .CompletePrice_name_n_price_btcleverage{
        padding: 1.3px 10px;
        border-radius: 2px;
        font-size: 0.8rem;

    }
    .CompletePrice_buy_n_sell{
        border-radius: 8px;
        height: 5.3vh;
    }
    .CompletePrice_name_n_price_btc_change_24h{
        font-weight: 420;
        font-size: 0.75rem;
    }
    .CompletePrice_buy_n_sell > button{
        font-size: var(--mobile-page-list-font);
        border-radius: 8px;
    }
    .choose_limit_market{
        font-size: var(--mobile-page-list-font);
        padding: 5px 1rem;
        gap: 0.8rem;
        border-radius: 2px;
        height: 1.8rem;
    }
    /* progress bar css */
.progress_bar{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.progress_description{
    font-size: 0.75rem !important;
    color: #f3ac41;
}
.progress_select{
    font-size: var(--mobile-page-list-font);
    padding: 5px 1rem;
    gap: 0.8rem;
    border-radius: 2px;
    height: 1.8rem;
}
    .Limit, .Market{
        font-size: var( --mobile-page-list-font) !important;
        border-radius: 4px !important;
    }
    .CompletePrice_input_limit_amount{
        height: 6.5vh;
        margin-top: 1.5rem;
    }
    .CompletePrice_input_limit_amount > input{
        width: 99%;
        height: 3.6rem;
        font-size: var(--mobile-page-list-font) !important;
        padding-left: 1rem;
    }
    .CompletePrice_input_amount{
        height: 6.5vh;
        margin-top: 1.2rem;
    }
    .CompletePrice_input_amount > input{
        width: 99%;
        height: 3.6rem;
        font-size: var(--mobile-page-list-font) !important;
        padding-left: 1rem;
    }
    .CompletePrice_button_long_short{
        margin-top: 3rem;
        border-radius: 2px;
        height: 3rem;
        font-size: var( --mobile-page-list-font);
    }
    .buy_long{
        width: 98% !important;
        height: 3.6rem !important;
        border-radius: 5px;
        font-size: var(--mobile-page-list-font) !important;
    
    }
    .sell_short{
        width: 98% !important;
        height: 3.6rem !important;
        border-radius: 5px;
        font-size: var(--mobile-page-list-font) !important;
    
    }
    .track_order_footer > p{
        font-size: var(--mobile-page-list-font);
    }
}
@media screen and (min-width: 643px) and (max-width: 1007px) {
    .CompletePrice_names{
        padding: 1rem 2.5rem;
    }
    .CompletePrice_name{
        gap: 2.4rem;
        border: 0px !important;
    }
   
    .CompletePrice_name_n_price{
        font-size: var(--mobile-page-list-font);
    }
    .CompletePrice_name_n_price_btcname{
        font-size: 1.1rem;
    }
    .CompletePrice_name_n_price_btcleverage{
        padding: 1.8px 12px;
        border-radius: 1.5px;
        font-size: 0.8rem;
    }
    .CompletePrice_name_n_price_btc_change_24h{
        font-weight: 420;
        font-size: 0.75rem;
    }
    .CompletePrice_buy_n_sell{
        border-radius: 8px;
        height: 5vh;
        font-size: var(--mobile-page-list-font);

    }
    .CompletePrice_buy_n_sell > button{
        font-size: var(--mobile-page-list-font);
        border-radius: 8px;
    }
    .choose_limit_market{
        font-size: var(--mobile-page-list-font);
        padding: 5px 1rem;
        gap: 0.8rem;
        border-radius: 2px;
        height: 1.8rem;
    }
    .progress_bar{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }
    .progress_description{
        font-size: var( --mobile-page-list-font) !important;
        color: #f3ac41;
    }
    .progress_select{
        font-size: var(--mobile-page-list-font);
        padding: 5px 1rem;
        gap: 0.8rem;
        border-radius: 2px;
        height: 1.8rem;
    }
    .Limit, .Market{
        font-size: var( --mobile-page-list-font) !important;
        border-radius: 4px !important;
    }
    .CompletePrice_input_limit_amount{
        height: 5.9vh;
        margin-top: 1.6rem;
    }
    .CompletePrice_input_limit_amount > input{
        width: 99%;
        height: 3.6rem;
        font-size: var(--mobile-page-list-font) !important;
        padding-left: 1rem;
    }
    .CompletePrice_input_amount{
        height: 5.9vh;
        margin-top: 1.5rem;
    }
    .CompletePrice_input_amount > input{
        width: 99%;
        height: 3.6rem;
        font-size: var(--mobile-page-list-font) !important;
        padding-left: 1rem;
    }
    .CompletePrice_button_long_short{
        margin-top: 2.9rem;
        border-radius: 1.5px;
        height: 4.2rem;
        font-size: var( --mobile-page-list-font);
    }
    .buy_long{
         width: 99% !important;
        height: 3.6rem !important;
        border-radius: 5px;
        font-size: var(--mobile-page-list-font) !important;
    
    }
    .sell_short{
         width: 99% !important;
        height: 3.6rem !important;
        border-radius: 5px;
        font-size: var(--mobile-page-list-font) !important;
    
    }
    .track_order_footer{
        width: 100%;
    }
    .track_order_footer > p{
        font-size: var(--mobile-page-list-font);
    }
}
@media screen and  (min-width: 1009px) and (max-width: 2400px){
    .CompletePrice_names{
        padding: 1rem 2.5rem;
    }
    .CompletePrice_name{
        gap: 0.8rem;
        border: 0px !important;
    }
    .CompletePrice_name_n_price{
        font-size: var(--mobile-page-list-font);
    }
    .CompletePrice_name_n_price_btcname{
        font-size: 1.24rem;
    }
    .CompletePrice_name_n_price_btcleverage{
        padding: 2px 15px;
        border-radius: 1.5px;
    }
    .CompletePrice_buy_n_sell{
        border-radius: 8px;
        height: 5vh;
        font-size: var(--mobile-page-list-font);

    }
    .CompletePrice_name_n_price_btc_change_24h{
        font-weight: 420;
        font-size: 0.75rem;
    }
    .CompletePrice_buy_n_sell > button{
        font-size: var(--mobile-page-list-font);
        border-radius: 8px;
    }
    .choose_limit_market{
        font-size: var(--mobile-page-list-font);
        padding: 5px 1rem;
        gap: 0.8rem;
        border-radius: 2px;
        height: 1.8rem;font-size: var(--mobile-page-list-font);
        padding: 4px 1rem;
        gap: 0.8rem;
        height: 2rem;
    }
    .progress_bar{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
    .progress_description{
        font-size: var( --mobile-page-list-font) !important;
        color: #f3ac41;
    }
    .progress_select{
        font-size: var(--mobile-page-list-font);
        padding: 5px 1rem;
        gap: 0.8rem;
        border-radius: 2px;
        height: 1.8rem;
    }
    .Limit, .Market{
        font-size: var( --mobile-page-list-font) !important;
        border-radius: 4px !important;
    }
    .CompletePrice_input_limit_amount{
        height: 5.7vh;
        margin-top: 1.6rem;
    }
    .CompletePrice_input_limit_amount > input{
         width: 99% !important;
        height: 3.6rem !important;
        font-size: var(--mobile-page-list-font) !important;
    
    }
    .CompletePrice_input_amount{
        height: 5.7vh;
        margin-top: 2rem;
    }
    .CompletePrice_input_amount > input{
         width: 99% !important;
        height: 3.6rem !important;
        font-size: var(--mobile-page-list-font) !important;
    
    }
    .CompletePrice_button_long_short{
        margin-top: 3rem;
        border-radius: 1.5px;
        height: 5rem;
        font-size: var( --mobile-page-list-font);
    }
    .buy_long{
         width: 99% !important;
        height: 3.6rem !important;
        border-radius: 5px;
        font-size: var(--mobile-page-list-font) !important;
    
    
    }
    .sell_short{
         width: 99% !important;
        height: 3.6rem !important;
        border-radius: 5px;
        font-size: var(--mobile-page-list-font) !important;
    
    
    }
    .track_order_footer{
        width: 100%;
    }
    .track_order_footer > p{
        font-size: var(--mobile-page-list-font);
    }
}